{% extends 'base.html' %}
{% block content %}

<div class='container'>
{% if user.is_authenticated %}
<a href="{% url 'funkos_create' %}"><span class="iconify" style='font-size:36px; color: white' data-icon="carbon:add-alt"></span></a>
{% endif %}
    <div class='row'>
    {% for funko in funko_list %}
        <div class='col-md-2 mb-5'>
            <div class='container'>
                <div class="card bg-dark text-white">
                    <img class="card-img" src={{funko.img}}>
                    <div class="card-img-overlay">
                        <div class="d-flex flex-row-reverse">
                            <a href="{% url 'funkos_detail' funko.id %}"><span class="iconify rounded border border-start-0" style='font-size:24px; color:white; background: black' data-icon="mdi:book-information-variant"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<br/>




{% endblock %}