{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


{% if error_message %}<p class='red-text'>{{ error_message }}</p>{% endif %}
<div class='container mb-5'>
    <div class='row'>
        <div class='col-lg-4'>
        </div>
        <div class='col-lg-4'>
        <h1> signup </h1>
            <form method='post' action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type='submit' class='btn' value='signup'>
            </form>
        </div>
        <div class='col-lg-4'>
        </div>
    </div>
</div>





{% endblock %}